/* ---------------ALL-------------- */
* {
  box-sizing: border-box;
}
html body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

input {
  box-shadow: none;
  border: 1px solid black;
}

h2 {
  font-size: 28px;
  text-align: center;
}

#products,
#project,
#video,
#artworks,
#instagram {
  width: 1200px;
  margin: 150px auto;
}

.products__card img:hover,
.artworks__card img:hover {
  opacity: 50%;
  transition: 0.5s;
}

/* ---------------Header--------------- */
header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.header__logo {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.2rem;
}

.header__menu {
  display: flex;
  font-weight: 700;
  font-size: 15px;
  column-gap: 12px;
}

#mobile__menubar {
  display: none;
}

.mobile__menubar__item {
  width: 27px;
  height: 2.4px;
  background-color: black;
}

.mobile__instalogo {
  display: none;
}

/* ---------------Main--------------- */
/* ---------------Slider--------------- */

.slider__part {
  width: 100%;
  height: 600px;
}

.slider__item {
  position: relative;
}

.slider__part img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.slider__item__desc {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 25;
  color: white;
}

.slider__item__desc :first-child {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 5px;
}

.slider__item__desc :nth-child(2) {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 22px;
  padding-left: 5px;
}

.slider__item__desc button {
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(43, 41, 41);
  border-radius: 20px;
  color: white;
  border: none;
}

#slider button.slick-arrow {
  width: 66px;
  height: 66px;
  margin-top: -33px;
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 999;
  outline: 0;
  font-size: 0;
}

#slider button.slick-prev {
  margin-left: -900px;
}

#slider button.slick-next {
  margin-left: 850px;
}

#slider .slick-dots {
  position: absolute;
  text-align: center;
  bottom: 30px;
  height: 10px;
  font-size: 0;
}

/* Best Products */
#products {
  margin-top: 50px;
}

#products h2 {
  margin-bottom: 50px;
}

.products__cards {
  /* display: grid;
  margin: 50px auto;
  max-width: 1200px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 300px);
  row-gap: 40px; */

  /* ---flex - convert--- */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
  width: 1200px;
}

.products__card {
  width: 280px;
  height: 280px;
}

.products__card__img img {
  width: 100%;
}

.products__card__desc {
  text-align: center;
}
.products__card__desc > p:first-child {
  font-size: 15px;
  color: darkgray;
  margin-bottom: -9px;
}

.products__card__desc > p:nth-child(2) {
  font-size: 13px;
  font-weight: bold;
}

.discount__percent {
  color: red;
  font-weight: bold;
}

/* Recent Project */
#project {
  margin: 150px auto;
  max-width: 1200px;
}

.project__cards {
  /* display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 300px); */

  /* ---flex convert --- */
  margin-top: 80px;
  display: flex;
  max-width: 1200px;
  column-gap: 50px;
}
.project__cards__left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project__card {
  display: flex;
  border: 1px solid rgb(219, 219, 219);
  margin-bottom: 40px;
}

.project__card__desc {
  padding: 30px;
  line-height: 1.8;
}

.project__user__info {
  font-size: 12px;
  margin-bottom: 13px;
}

.project__desc__detail {
  margin-bottom: 30px;
}

.project__desc__detail :first-child {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 7px;
}

.project__desc__detail :nth-child(2) {
  max-width: 400px;
  color: grey;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project__react {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.count {
  font-size: 12px;
  color: grey;
}

.heart__img {
  width: 14px;
}

.heart {
  display: flex;
  font-size: 12px;
  color: grey;
  column-gap: 8px;
}

.project__cards__bottom {
  display: flex;
  justify-content: space-between;
  height: 312px;
}

.project__cards__bottom.project__mobile__slider {
  display: none;
}

.project__cards__bottom .project__card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.project__cards__bottom .project__card img {
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.project__cards__bottom .project__card__info {
  padding: 15px 15px 0 15px;
  line-height: 40px;
}

.project__cards__bottom .project__card__info .info__title {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 25px;
}

.info__count {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: grey;
}

.like .heart__img img {
  width: 14px;
  height: 11px;
}

.project__card__right {
  width: 23.2%;
  background-color: greenyellow;
  background-image: url("https://static.wixstatic.com/media/465b65_1312124bf0c34c82a9b1077887e55a35~mv2.jpg/v1/fill/w_146,h_437,al_c,q_80,usm_0.66_1.00_0.01/465b65_1312124bf0c34c82a9b1077887e55a35~mv2.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.project__mobile__slider {
  display: none;
}

/* Video */
.video__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.video__card {
  width: 580px;
}

iframe {
  width: 100%;
}

.video__card__desc {
  text-align: center;
}

.video__card__desc > div {
  margin-top: 20px;
  font-size: 13px;
}

.video__card__desc > p {
  max-width: 450px;
  margin: 0 auto;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Artworks */

.artworks__cards {
  display: flex;
  margin-top: 45px;
  column-gap: 20px;
}

.artworks__card {
  width: 400px;
  text-align: center;
  font-weight: bold;
}

.artworks__card > img {
  width: 100%;
}

/* Official Instagram */
.instagram__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 30px;
}
.instagram__card {
  width: 370px;
  position: relative;
}

.instagram__card:hover {
  opacity: 50%;
  transition: 0.6s;
}

.hidden__text {
  width: 370px;
  height: 370px;
  color: transparent;
  position: absolute;
  top: 0%;
  left: 50%;
}

.hidden__text:hover {
  color: black;
  background-color: red;
}

/* Footer */
footer {
  height: 363px;
  background-color: #f4f1ed;
  display: flex;
  align-items: center;
}

footer section {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.category ul :first-child {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
.category li {
  font-weight: 700;
}

.contacts ul :first-child {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

footer section li {
  line-height: 1.7;
}

.input__email {
  width: 350px;
  height: 30px;
  margin: 5px auto;
  padding: 16px 15px;
  background-color: transparent;
}

.input__msg {
  width: 350px;
  height: 70px;
  margin: 5px auto;
  padding: 16px 15px;
  background-color: transparent;
}

.email button {
  width: 137px;
  height: 33px;
  background-color: transparent;
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 213px;
}

/* Modal Menu */
#modal__menu {
  width: 100%;
  height: 1100px;
  position: absolute;
  left: 1100px;
  transition: linear 900ms;
  visibility: hidden;
  z-index: 99;
  opacity: 0;
  background-color: white;
}

#modal__menu ul {
  padding: 100px;
  line-height: 3;
}

#modal__menu li {
  font-size: 20px;
  font-weight: bold;
}

#modal__menu li:hover {
  color: dodgerblue;
}

#remove__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 35px;
  left: 17px;
  height: 10px;
}

/* #plusModal {
  visibility: visible;
  left: 0;
  top: 0;
  opacity: 1;
  transition: linear 900ms;
}
#plusBody {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
} */

#remove__modal div:first-child {
  transform: rotate(45deg);
}

#remove__modal div:last-child {
  transform: rotate(-45deg);
}

#remove__modal div {
  background-color: black;
  width: 30px;
  height: 1px;
}

/*------------ Media query ------------*/
@media all and (max-width: 420px) {
  /* All */
  #products,
  #project,
  #video,
  #artworks,
  #instagram,
  #header {
    max-width: 100%;
    margin: 150px 0;
    padding: 0 10px;
  }

  * {
    overflow-x: hidden;
  }

  /* Mobile-Header */

  header {
    max-width: 420px;
  }

  #header {
    display: flex;
    align-items: center;
    width: 420px;
    padding: 0 17px;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.2rem;
  }

  #mobile__menubar {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 40px;
  }

  .mobile__instalogo {
    display: block;
    position: relative;
    z-index: 2;
  }

  .mobile__instalogo img {
    width: 40px;
  }

  /* Mobile-Slider */
  .slider__item__desc button {
    display: none;
  }
  .slider__item__desc {
    top: 150px;
  }

  /* Mobile-Products */
  .products__cards {
    width: 400px;
    padding: 0 4px;
  }
  .products__card {
    width: 50%;
  }
  .products__card.hidden__products {
    display: none;
  }

  /* Mobile-Project */
  .project__cards__top .project__card {
    flex-direction: column;
  }

  .slick-track {
    width: 420px;
  }

  .project__cards__bottom.project__mobile__slider {
    display: block;
  }

  .project__cards__bottom.project__mobile__hidden {
    display: none;
  }

  .project__cards__bottom.project__mobile__slider .info__title {
    font-size: 25px;
  }

  .like {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .project__card__right {
    display: none;
  }

  /* Mobile_Video */
  .video__cards {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .video__card {
    width: 100%;
  }

  .video__card__contents {
    width: 420px;
  }
  .video__card__contents iframe {
    width: 95%;
  }

  .video__card__desc {
    width: 390px;
  }

  /* Mobile_Artworks */
  .artworks__cards {
    display: flex;
    flex-direction: column;
  }

  /* Mobile-Instagram */
  .instagram__cards {
    gap: 3px;
  }
  .instagram__card {
    width: 32%;
  }

  /* Mobile-Footer */
  footer {
    width: 100%;
  }
  footer .contacts {
    padding-right: 5px;
  }

  footer .email {
    display: none;
  }
}
